@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,regular,600&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Work Sans", sans-serif;
	background-color: #010208;
}

.container{
	max-width: 1245px;
	margin: 0 auto;
	padding: 0 15px;
}


.header {
	padding: 35px 0;

}

.header__inner {

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: flex;
	align-items: center;
}

.logo__text {
	color: #fff;
	text-decoration: none;
	margin-right: 4px;
}

.menu__list {
	list-style: none;
	display: flex;
	gap: 30px;
}

.menu__item .menu__link:hover{
	background: linear-gradient(99.05deg, #BC3CD8 0.07%, #C54B8C 106.32%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;

}

.menu__link:hover::before{
	opacity: 1;
	visibility: visible;
}

.menu__link {
	color: #E3E4E6;
	text-transform: uppercase;
	font-weight: 600;
	font-style: 14px;
	text-decoration: none;
	position: relative;
}

.menu__link::before{
	content: "";
	width: 9px;
	height: 4px;
	border-radius: 10px;
	background-color: #fff;
	position: absolute;
	left: 50%;
	bottom: -8px;
	transform: translateX(-50%);
	opacity: 0;
	visibility: hidden;
	transition: all .3s ;

}

.hero {
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.hero__title {
	color: rgba(227, 228, 230, 0.55);
	font-weight: 300;
	font-size: 56px;
	line-height: 150%;
	letter-spacing: -0.02em;
}

.hero__title span{
	color: #e3e4e6;
	font-weight: 600;
}

.hero__arrow {
	background: none;
	border: none;
	width: 40px;
	height: 40px;
	background: transparent url("../img/arrow.svg") center center no-repeat;
	transform: rotate(90deg);
	position: absolute;
	left: 50%;
	bottom: 42px;
	transform: rotate(-90%) translateX(-50%);
	cursor: pointer;
}

.clients {
	padding: 80px 0 130px;
}

.clients__title {
	font-weight: 300;
	font-size: 40px;
	line-height: 150%;
	color: rgba(227, 228, 230, 0.55);
	width: 100%;
	text-align: center;
}

.clients__title span{
	font-weight:300;
	color: rgba(227, 228, 230, 0.55);
	color: #e3e4e6;
}

.clients__body {
	margin-top: 95px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 20px;
}

.works {
	padding: 80px 0 120px;
}

.works__container {
	font-weight: 300;
	font-size: 40px;
	color: rgba(227, 228, 230, 0.55);
}
.works__title {
	font-weight: 300;
	font-size: 40px;
	color: rgba(227, 228, 230, 0.55);
}

.works__title span {
	font-weight: 600;
	color: #e3e4e6;
}

.works__body {
	margin-top: 85px;
}

.card {
	display: flex;
	gap: 32px;
	align-items: center;
}

.card:not(:last-child){
	margin-bottom: 95px;
}

.card-r {
	flex-direction: row-reverse;
}

.card__img {
	border-radius: 16px;
	overflow: hiddens;
	flex: 0 0 50%;
}

.card__img img{
	max-width: 100%;
}

.card__info {
	flex: 1 1 auto;
}
.card__tage {
	text-transform: uppercase;
	letter-spacing:0.04rem ;
	font-weight: 600;
	color: #e3e4e6;
	font-size: 16px;
}
.card__text {
	font-weight: 300;
	font-style: 32px;
	line-height: 150%;
	color: rgba(227, 228, 230, 0.55);
	margin-bottom: 24px;
	margin-top: 16px;
}

.card__text span{
	color: #E3E4E6;
	font-weight: 600;
}

.card__category {
	font-size: 18px;
	color: #E3E4E6;
}
.card__button {
	display: inline-block;
	padding: 8px 45px 8px 16px;
	border-radius: 100px;
	color: #fff;
	font-size: 15px;
	text-decoration: none;
	border: 1px solid rgba(227, 228, 230, 0.55);
	margin-top: 32px;
	position: relative;
	transition: all .2s ease;
}

.card__button::before{
	content: '';
	width: 24px;
	height: 24px;
	position: absolute;
	top: 50%;
	right: 16px;
	transform: translateY(-50%);
	transition: all .2s ease;
	background:transparent url(../img/arrow.svg) center center no-repeat ;
}

.card__button:hover{
	background: linear-gradient(99.05deg, #BC3CD8 0.07%, #C54B8C 106.32%);
	border: 1px solid #E3E4E6;
	transition: all .2s ease;
}

.card__button:hover::before{
	transition: all .2s ease;
	background:transparent url(../img/arrow-hover.svg) center center no-repeat ;
}

.about {
	padding: 75px 0;
}

.about__container {
	display: flex; 
	align-items: center;
	gap: 20px;
}
.about__text {
	font-weight: 600;
	font-style: 32px;
	color: rgba(227, 228, 230, 0.55);
	line-height: 150%;
	color: #E3E4E6;
}

.about__text span{
	color: rgba(227, 228, 230, 0.55);
	font-weight: 300;
}

.about__title {
	text-transform: uppercase;
	font-size: 24;
	font-weight: 600;
	color: #E3E4E6;
}

.about__gallery {
	flex: 0 0 50%;
	display: grid;
	grid-template-columns: repeat(2, 1frs);
	grid-template-rows: repeat(4,1fr);
}

.about__img:nth-child(1) {
	grid-column: 1/2;
	grid-row: 2/4;
}

.about__img:nth-child(2) {
	grid-column: 2/3;
	grid-row: 1/4;
}

.about__img:nth-child(3) {
	grid-column: 2/3;
	grid-row: 3/5;
}

.footer {
	padding: 80px 0 40px;
}

.footer__container{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.footer__title {
	font-weight: 300;
	font-size: 56px;
	letter-spacing:-0.02rem;
	color: rgba(227, 228, 230, 0.55);
}

.footer__title span{
	color: #E3E4E6;
	font-weight: 600;
}

.footer__subtitle {
	font-weight: 300;
	font-style: 18px;
	color: #E3E4E6;
	margin-top: 20px;
}
.footer__socials {
	display: flex;
	margin-top: 60px;
	align-items: center;
}

.footer__social svg {
	fill: #7e7e7e;
	transition: all .2s;
}

.footer__social:hover svg {
	fill: #fff;
	transform: scale(1.3);
}

.footer__social:not(:last-child) {
	margin-right: 55px;
}

.foorer__copyright{
	margin-top: 60px;
	font-weight: 300;
	color: rgba(227, 228, 230, 0.55);
	text-align: center;
	margin-bottom: 25px;
}

.foorer__copyright span{
	font-weight: 600;
	color: #E3E4E6;
}